@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jacques Francois', Arial;
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background: #000;
    color: #fff;
}

.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    z-index: 1000;
} 

.logo{
    font-size: 32px;
    font-weight: 500;
}
/* Menu Icon(mobile) */
.menu-toggle{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1100;
}

.menu-toggle span{
    width: 32px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 20%; /* mudei de 70% para 20% */
    height: 100vh;
    background: #1C1C1C; /* mudei a cor */
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    transform: translateX(100%);
    transition: transform 0.4s ease;
}
.menu a{
    margin: 15px 0;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.menu.active{
    transform: translateX(0);
}
.overlay-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 900;
}

.overlay-menu.active{ /* Corrigi e tirei um menu*/
    opacity: 1;
    visibility: visible;
}

/* css do hero */
.hero{
    height: 100vh;
    background: url(./assets/pizza-Fundo.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
    background: rgba(0, 0, 0, 0.2);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 80px;
}
.hero-txt h2{
    font-size: 56px; /* 90px */
    font-weight: 300;
    line-height: 1.2;
    margin-top: 160px;
}
.hero-txt{
    max-width: 500px; /* 800px */
    text-align: right;
}

.hero-txt button{
    padding: 12px 28px;
    border: none;
    background: #ff3c00;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.hero-txt button:hover{
    background: #87331a;
}

/* Diferencias */
.diferenciais{
    background: #0F5132;
    padding: 50px 20px;
    text-align: center;
}

.diferenciais h2{
    margin-bottom: 50px;
    font-size: 32px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    background-color: #155E3A;
    padding: 10px 30px;
    margin: 0 20px;
    border-radius: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-8px);
}
.card img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}
.card p{
    font-size: 16px;
    line-height: 1.3;
}
